backup-paths*.txt
excludes*.txt
forgets*.txt
repos*.json
resticpy/*
venv
user-scripts
logs/*
test-data/
settings/
settings-test/
__pycache__

# Environment variables, which may contain secrets
.env.*
# .env.example is an exception as it only contains dummy secrets.
!.env.example

# Nix build output
result
